<div id="DepartmentViewPopUp" class="overlay">
  <div class="popup">
    <h2>- 부서 조회 -</h2>
    <button class="close" (click)="viewView()">&times;</button>
    
    <div class="pure-g">
      <div class="pure-u-1">
        <label for="name">부서 명:</label>
        <span id="name">{{department.name}}</span>
      </div>
      <div class="pure-u-1">
        <label for="name">부서 대표:</label>
        <span id="name">{{department.representation}}</span>
      </div>
      <div class="pure-u-1">
        <label for="name">부서 설명:</label>
        <span id="name">{{department.description}}</span>
      </div>
    </div>
     <button class="button-success pure-button" style="margin-left:100px;" (click)="viewReverse()">수정</button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <button class="button-warning pure-button" (click)="viewView()">닫기</button>
  </div>
</div>