.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: monospace;
    text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .EmployeeAdd {
  max-height: 100%;
  overflow: auto;
}

.EmployeeAdd{
    display:flex;
}

.employee_add_flex{
    flex-grow:1;
}

#EmployeePhoto{
    flex-basis:30%;
    display:block;
    /*border : 1px solid black;*/
}

#EmployeeAddInfo{
    flex-basis:70%;
}

#EmployeePhoto .employee_thumbnail img {
    border : 1px solid black;
    margin-left:55px;   
}

#EmployeeAddInfo{
    margin-top:20px;
    margin-left:20px;
}

.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.emailCheck{
  display:none;
}

.emailChecked{
  display:inline;
  color: forestgreen;
} 

.emailError{
  display:inline;
  color: orangered;
}