<div id='sideMenu'>
  <ul>
     <li><a (click)="employeeLayout()"><span>사원관리</span></a></li>
     <li class='active has-sub'><a (click)="departmentLayout()"><span>부서관리</span></a>
        <!--<ul>
           <li class='has-sub'><a href='#'><span>Product 1</span></a>
              <ul>
                 <li><a href='#'><span>Sub Product</span></a></li>
                 <li class='last'><a href='#'><span>Sub Product</span></a></li>
              </ul>
           </li>
           <li class='has-sub'><a href='#'><span>Product 2</span></a>
              <ul>
                 <li><a href='#'><span>Sub Product</span></a></li>
                 <li class='last'><a href='#'><span>Sub Product</span></a></li>
              </ul>
           </li>
        </ul>-->
     </li>
     <li class='active has-sub'><a (click)="vacationLayout()"><span>휴가 결재 관리</span></a></li>
     <li><a href='#'><span>결재</span></a></li>
  </ul>
</div>